.home {
	height: 50vh;
	border: 1px solid #000;
	margin: 10px;
}

.home__top {
	display: flex;
	height: 100%;
}

.home__top__left {
	padding: 10px;
	flex: 0.5;
	border-right: 1px solid #000;
	background-color: #999999;
	color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home__top__left > h4 {
	margin-bottom: 10px;
}

.home__top__left > .MuiPaper-root {
	height: 90%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home__top__right {
	flex: 0.5;
	border-right: 1px solid #000;
	background-color: #999999;
	color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.home__top__right > h4 {
	margin-bottom: 10px;
}

.home__top__right > .MuiPaper-root {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home__top__right--div {
	padding: 10px;
}

.home__top__right > .MuiPaper-root > .MuiButton-root {
	width: 50%;
}

.home__users {
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.home__users > div {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50%;
}

.home__users > div > h4 {
	margin-right: 10px;
}

.home__bottom {
	border: 1px solid #000;
	margin-top: 10px;
	height: 100%;
	background-color: #999999;
}

.home__bottom__top {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	background-color: white;
	height: 10%;
}

.home__bottom__top > .MuiButton-root {
	width: 25%;
	height: 60%;
}

.home__bottom__top > h4 {
	margin-right: 10px;
}

.home__bottom__bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	height: 75%;
}

.home__bottom__bottom > .MuiPaper-root {
	width: 30%;
	margin-right: 10px;
	border: 1px solid #000;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: auto;
}

.home__bottom__bottom > .MuiPaper-root > h4 {
	margin: 10px 0px;
}

.home__items {
	width: 90%;
}

.home__items--user {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

.home__items__left {
	margin-right: 20px;
	flex: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home__items__right {
	flex: 0.5;
}
